/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #dea787;
}

.main-menu {
    margin: 5%;
    color: #707075;
}

h1 {
    margin: 3% 0%;
    font-size: 2.0em;
}

h1, nav, p {
    font-family: 'Proxima-Nova', sans-serif;
}

nav {
    margin: 0% 0% 0% 5%;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    border: 1px solid white;
    padding: 2% 3%;
}

a:link, a:visited {
    text-decoration: none;
    color: #707075;
}

li:hover, a:hover {
    background-color: white;
  }

.container {
    background: white;
    padding: 2.0%;
}


.my-projects-button {
    padding: 1% 1%;
}

.projects {
    padding: 2% 0% 0% 0%;
    display: flex;
    overflow: auto;
    
}

.row1.div .row2.row1.div {
    flex-direction: row;
}

.contact-me-button {
    padding: 1% 2%;
}

footer {
    margin: 5%;
}